# Importing IRS Data for 2011
Bring IRS data from  2011 and make some operations to accomodate it to my purposes.

In [1]:
#Libraries and Settings
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',20)

### 1. Load Source Data

In [2]:
#Data File to Dataframe
file='/Users/c32/Documents/NYCDSA/Projects/DATA/IRS/2011zipcode/11zpallagi.csv'
#df=pd.read_csv(file,skiprows=[1])
df=pd.read_csv(file)
#df_column_description=pd.read_csv(file,nrows=1)
df.shape

(167334, 73)

In [3]:
df.head()
#df[df['ZIPCODE']==7430]

,STATEFIPS,STATE,ZIPCODE,agi_stub,N1,MARS2,PREP,N2,NUMDEP,A00100,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00900,A00900,SCHF,N01000,A01000,N01400,A01400,N01700,A01700,N02300,A02300,N02500,A02500,N03300,A03300,N04470,A04470,N18425,A18425,N18450,A18450,N18500,A18500,N18300,A18300,N19300,A19300,N19700,A19700,N04800,A04800,N07100,A07100,N07220,A07220,N07180,A07180,N07260,A07260,N59660,A59660,N59720,A59720,N11070,A11070,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
0,1,AL,0,1,937299.0,136038.0,547355.0,1602192.0,644217.0,12086376.0,743687.0,9305221.0,135783.0,155222.0,52463.0,99256.0,45479.0,64368.0,159402.0,971233.0,10236.0,39073.0,1062.0,40556.0,229997.0,113651.0,1075986.0,77030.0,383733.0,32493.0,55178.0,351.0,465.0,68855.0,942223.0,27213.0,29197.0,33915.0,27496.0,38720.0,33056.0,66828.0,106642.0,36330.0,223005.0,50750.0,126097.0,385511.0,2156868.0,132714.0,49510.0,40672.0,12854.0,10548.0,3736.0,4537.0,1104.0,423084.0,1194463.0,395459.0,1080411.0,278726.0,350654.0,157.0,18.0,281321.0,177828.0,406030.0,329355.0,61257.0,40871.0,829761.0,2196179.0
1,1,AL,0,2,495266.0,163878.0,294584.0,1060682.0,402748.0,17752967.0,431784.0,14511884.0,123163.0,151913.0,46248.0,114315.0,40096.0,75968.0,62752.0,284979.0,10214.0,32894.0,32583.0,35734.0,318496.0,100001.0,1717740.0,36378.0,158997.0,84335.0,496569.0,612.0,1515.0,135236.0,1969337.0,99414.0,163841.0,30525.0,34442.0,97125.0,75859.0,134092.0,304415.0,92955.0,567561.0,110294.0,362819.0,476407.0,8852956.0,230470.0,220372.0,129010.0,117396.0,30033.0,16939.0,17936.0,5947.0,124157.0,215626.0,104732.0,185271.0,105680.0,161855.0,96.0,23.0,368302.0,857030.0,387527.0,939491.0,62697.0,87835.0,424697.0,1233232.0
2,1,AL,0,3,254719.0,152464.0,158690.0,599208.0,192138.0,15643657.0,223125.0,12224133.0,106091.0,126886.0,43622.0,135353.0,38271.0,91736.0,40667.0,254728.0,8704.0,31121.0,31360.0,28038.0,339813.0,70098.0,1637159.0,18283.0,84499.0,55668.0,765046.0,538.0,4093.0,120204.0,2052822.0,99469.0,246926.0,18051.0,28820.0,101109.0,90425.0,119902.0,394476.0,95615.0,667655.0,103280.0,415206.0,253555.0,10005540.0,119073.0,180694.0,80004.0,121961.0,19669.0,10024.0,14771.0,5335.0,0.0,0.0,0.0,0.0,10418.0,13318.0,519.0,776.0,242196.0,1209615.0,245423.0,1281198.0,53482.0,110300.0,195012.0,573437.0
3,1,AL,0,4,156592.0,124766.0,95762.0,414925.0,133604.0,13527110.0,139293.0,10484202.0,84153.0,104682.0,37158.0,108586.0,32946.0,74674.0,27334.0,226582.0,6479.0,26760.0,41544.0,21145.0,343384.0,48541.0,1390012.0,9416.0,41100.0,34830.0,627597.0,556.0,2887.0,95830.0,1851020.0,83547.0,284722.0,10712.0,17574.0,87432.0,90118.0,95718.0,420399.0,82450.0,658158.0,85710.0,403859.0,156337.0,9461332.0,79115.0,133872.0,55577.0,92133.0,16363.0,8844.0,9837.0,3413.0,0.0,0.0,0.0,0.0,895.0,561.0,734.0,399.0,155124.0,1245679.0,155524.0,1304690.0,36492.0,97885.0,115388.0,392056.0
4,1,AL,0,5,173914.0,153998.0,104195.0,493468.0,165583.0,22906430.0,158575.0,17531050.0,116783.0,197784.0,62612.0,272441.0,56701.0,201673.0,33680.0,556784.0,7558.0,48385.0,206516.0,26113.0,676762.0,57402.0,2082519.0,7163.0,32137.0,33754.0,687979.0,2026.0,22813.0,138757.0,3339087.0,127491.0,661040.0,9803.0,20446.0,131534.0,194187.0,138708.0,923059.0,121613.0,1175946.0,128919.0,805845.0,173748.0,17341117.0,85068.0,118018.0,42961.0,58868.0,18574.0,9992.0,11110.0,3755.0,0.0,0.0,0.0,0.0,149.0,41.0,3687.0,6740.0,173307.0,2933104.0,173465.0,3049669.0,61446.0,280327.0,105097.0,427556.0

In [4]:
#Test Nans
nas1=df.isna().sum()
nas1.sum()

0

### 2. Choose Relevant Columns

#### 2.1. Zip

In [5]:
#When previewing the data, the first lines had Zipcode==0. They are summary lines for each of the states.
print('zipcodes == 0:',df[df['ZIPCODE']==0].shape) #output: (306, 167)
l=df[df['ZIPCODE']==0]['STATE'].unique().tolist()
print(l)
print(len(l), "unique States")
#(306/6lines per zip) #output: 51 States. There is one summary for each state. Zipcode==0.
# Note PUERTO RICO is not in this IRS list. Keep in mind when we join Zip codes.

#Removing those summary state lines.
df=df[df['ZIPCODE']!=0]
print("Removed State summary lines")

#Importing the first column into the new DF.
irs11=pd.DataFrame()
irs11['zip']=df['ZIPCODE'].astype(str)
#show me the lenghts of zip code
irs11['zip'].str.len().unique() #output: 4 and 5, we need to fix the lenght 4. They are missing a 0.
#Adding a leading '0'.
irs11.loc[irs11['zip'].str.len() == 4,'zip'] = '0' + irs11['zip']
print('4 digit Zips adjusted to 5 digit')

zipcodes == 0: (306, 73)
['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
51 unique States
Removed State summary lines
4 digit Zips adjusted to 5 digit

#### 2.2. State

In [6]:
irs11['state']=df['STATE']
irs11['state'].describe()

count     167028
unique        51
top           TX
freq        9750
Name: state, dtype: object

#### 2.3. AGI_Stub 
The AGI_stub categorization is used to group tax returns or taxpayers into different income ranges for statistical analysis.

In [7]:
irs11['agi_stub']=df['agi_stub']
irs11['agi_stub'].unique()
#irs11['agi_stub'].describe()

array([1, 2, 3, 4, 5, 6])

#### 2.3. Tax Fields

##### 2.3.1. Number of returns

In [8]:
irs11['n_returns']=df['N1'].astype(int)
irs11['n_returns'].describe()
#There are some 0 present. Let's investigate it
total_zips=irs11['zip'].nunique()
total_zips_with_zero_returns=irs11[irs11['n_returns']==0]['zip'].nunique()

print('{:.2f}'.format(total_zips_with_zero_returns/total_zips*100)  ,'% zip codes have at least one agi_stub with 0 returns')

49.49 % zip codes have at least one agi_stub with 0 returns

##### ~~2.3.2. Total Income Amount~~

In [9]:
#This data is not available in the 2011 dataset, however it does not affect because we are planning to use the most currect for this particular metric.
#irs11['total_income']=df['A02650']
#irs11['total_income'].describe()

#### 2.4. Data transformations

##### 2.4.1. Pivot 'Number of Returns' per agi_stub

In [10]:
# Pivot the data to have AGI_stub as columns and ZIP codes as rows, with returns as values
pivot_n_returns = irs11.pivot_table(index='zip', columns='agi_stub', values='n_returns', fill_value=0)

# Calculate the total number of returns for each ZIP code
pivot_n_returns['total_returns'] = pivot_n_returns.sum(axis=1)

# Calculate the ratio of n_returns for each AGI_stub within each ZIP code
for column in pivot_n_returns.columns[:-1]:  # Exclude the 'total_returns' column
    pivot_n_returns[column] = pivot_n_returns[column] / pivot_n_returns['total_returns']

current_columns = pivot_n_returns.columns.tolist()
print(current_columns)
new_columns = ['total_returns'] + [col for col in current_columns if col != 'total_returns']
pivot_n_returns = pivot_n_returns[new_columns]

# Remove the name of the columns index
pivot_n_returns.columns.name = None
# Reset the index so zip is a column again.
pivot_n_returns.reset_index(inplace=True)
#print(pivot_n_returns.columns)
pivot_n_returns.rename(columns={1 : 'agi_stub_1_ratio',2 : 'agi_stub_2_ratio',3 : 'agi_stub_3_ratio',4 : 'agi_stub_4_ratio',5 : 'agi_stub_5_ratio',6 : 'agi_stub_6_ratio',},inplace=True)
pivot_n_returns

[1, 2, 3, 4, 5, 6, 'total_returns']

,zip,total_returns,agi_stub_1_ratio,agi_stub_2_ratio,agi_stub_3_ratio,agi_stub_4_ratio,agi_stub_5_ratio,agi_stub_6_ratio
0,01001,8655.000000,0.507683,0.264240,0.000000,0.103293,0.112998,0.011785
1,01002,10168.000000,0.419945,0.179485,0.120378,0.083596,0.143588,0.053009
2,01005,2201.000000,0.330304,0.228987,0.169468,0.127669,0.133121,0.010450
3,01007,7225.000000,0.323599,0.200000,0.154464,0.116125,0.180069,0.025744
4,01008,646.000000,0.304954,0.226006,0.164087,0.153251,0.151703,0.000000
...,...,...,...,...,...,...,...,...
27783,99824,1152.000000,0.278646,0.230903,0.193576,0.121528,0.138889,0.036458
27784,99827,1375.000000,0.443636,0.250182,0.136000,0.087273,0.082909,0.000000
27785,99835,4761.000000,0.364209,0.254148,0.148918,0.101869,0.107330,0.023524
27786,99901,6437.000000,0.376418,0.237688,0.146963,0.098959,0.118223,0.021749
27787,99999,58589.784314,0.435876,0.259038,0.127583,0.069918,0.076867,0.030718

##### ~~2.4.2. Pivot 'total_income' per agi_stub~~

In [11]:
# Pivot the data to have AGI_stub as columns and ZIP codes as rows, with total_income as values
#pivot_incomes = irs11.pivot_table(index='zip', columns='agi_stub', values='total_income', fill_value=0)

# Remove the name of the columns index
#pivot_incomes.columns.name = None
# Reset the index so zip is a column again.
#pivot_incomes.reset_index(inplace=True)
#print(pivot_data.columns)
#pivot_incomes.rename(columns={1 : 'agi_stub_1_income',2 : 'agi_stub_2_income',3 : 'agi_stub_3_income',4 : 'agi_stub_4_income',5 : 'agi_stub_5_income',6 : 'agi_stub_6_income',},inplace=True)
#pivot_incomes

##### 2.4.3. Merge the data together

In [12]:
# First merge the n_returns ratios
newdf1=pd.merge(irs11[['zip','state']],pivot_n_returns, how='right', on='zip')
newdf1.drop_duplicates(inplace=True)

#Let's update irs11 and update it
irs11=newdf1
del newdf1

irs11.head()

,zip,state,total_returns,agi_stub_1_ratio,agi_stub_2_ratio,agi_stub_3_ratio,agi_stub_4_ratio,agi_stub_5_ratio,agi_stub_6_ratio
0,01001,MA,8655.0,0.507683,0.264240,0.000000,0.103293,0.112998,0.011785
6,01002,MA,10168.0,0.419945,0.179485,0.120378,0.083596,0.143588,0.053009
12,01005,MA,2201.0,0.330304,0.228987,0.169468,0.127669,0.133121,0.010450
18,01007,MA,7225.0,0.323599,0.200000,0.154464,0.116125,0.180069,0.025744
24,01008,MA,646.0,0.304954,0.226006,0.164087,0.153251,0.151703,0.000000

### 3. Saving the clean Dataframe into a CSV

In [13]:
#After all the changes, let's save in a csv file.

import os
outname = '1_Load_IRS_2011.csv'
outdir = '/Users/c32/Documents/NYCDSA/Projects/DATA/Ready_Data'
if not os.path.exists(outdir):
    os.mkdir(outdir)
fullname = os.path.join(outdir, outname)    

irs11.to_csv(fullname, header=True, index=False)
print("Saved!")

Saved!